@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
}

nav {
    background-color: #ff924a; /* A shade of orange */
    color: #fff;
    padding: 10px 0;
}

.nav-container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-items a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
    font-weight: 700; /* Bold for the nav items */
}

.logo {
    font-weight: bold;
    font-size: 1.5em;
    color: #000; /* Black for the logo text */
}

.article-header {
    background-color: #333; /* A darker shade for the header */
    color: #fff;
    padding: 20px 0;
}

.header-container {
    width: 80%;
    margin: auto;
}

.article-header h1 {
    margin: 0;
    font-size: 2.5em;
    font-weight: 700; /* Bold for the article title */
    color: #ff924a; /* Orange for the article title */
}

.article-meta {
    font-size: 0.9em;
    color: #ccc;
}

.article-content {
    width: 80%;
    margin: 20px auto;
    background: #636060;
    padding: 20px;
    color: #000; /* Black for the article text */
}

footer {
    background-color: #ff924a; /* Orange for the footer */
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.footer-container {
    width: 80%;
    margin: auto;
}

.logo {
    display: block; /* or inline-block */
    width: 100px; /* the width of your logo */
    height: 50px; /* the height of your logo */
    background-image: url('logo.png');
    background-size: contain; /* or cover, depending on your needs */
    background-repeat: no-repeat;
    background-position: center;
}
